


body {
    font-family: "Inika";
    background-color: #060D08;
    color: #F5F5F5;

}


header nav{
    width: 100%;
    
}


header nav ul{
    display: flex;
    justify-content: center;
    gap: 25px;
    list-style: none;
}


header nav ul li a{
    text-decoration: none;
    color: #F5F5F5;
}



#aboutme{
    display: flex;
    /*cima, direita, baixo, esquerda*/
    margin: 200px 59px 250px 150px;
}

#aboutme_text{
    margin-left: 150px;
}


#project1 {
    background-color: #19191A;
    display: flex;
    margin: 20px 114px 20px 150px;
    border-radius: 5px;

}

#project1 img{
    margin: 5px 0 5px 22px;
}


#devlinkstec{
    border-left: 2px solid #F5EEEE;
    margin:16px 10px 16px 10px;
    padding-left: 10px;
}

#project2 {
    background-color: #19191A;
    display: flex;
    margin: 20px 114px 150px 150px;
    border-radius: 5px;

}

#project2 img{
    margin: 5px 0 5px 22px;
}



#tcctec{
    border-left: 2px solid #F5EEEE;
    margin:16px 10px 16px 10px;
    padding-left: 10px;
}


#detailer{
    background-color: #19191A;
    display: flex;
    margin-left: 150px;
    margin-right: 114px;
}

#detailer img{
    width: 310px;
    height: 310px;
    margin-left: 30px;
}

#detailer p{
    margin-left: 10px;
    padding-left: 10px;    
    text-align: justify;
}

#viagem{
    background-color: #19191A;

    display: flex; 
    margin-top: 76px;
    margin-left: 150px;
    margin-right: 114px;
}

#viagem p{
    margin-left: 10px;
    padding-right: 10px;
    text-align: justify;
}

#viagem img{
    width: 486px;
    height: 319px;
}

#contact{
    background-color: #060D08;
}

#contact {
    margin-top: 100px;
    text-align: center;
    size: 20px;
   
}

#contact form{
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    margin-top: 65px;
    width: 500px;
    margin: 65px auto 0 auto;
    align-items: center;
    background-color: #19191A;
    font-size: 20px;
    text-align: left;
   
}

#contact form input,textarea{
    border-radius: 5px;

    background-color: #D9D9D9;
   
}

button{
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    
}


footer p {
    text-align: center;
    font-size: 12px; 

}