header nav{
    width: 100%;
}

header nav ul{
    display: flex;
    justify-content: center;
    gap: 25px;
    list-style: none;
}


body {
    font-family: "Inika";
    background-color: #060D08;
    color: #F5F5F5;

}

#aboutme{
    border: 5px solid red;
    display: flex;
    /*cima, direita, baixo, esquerda*/
    margin: 200px 59px 250px 150px;
}

#aboutme_text{
    margin-left: 150px;
}


#project1 {
    border: 5px solid red;
    background-color: #19191A;
    display: flex;
    margin-left: 150px;
    margin-right: 114px;
}

#project1text{
    display: flex;
    margin-left: 32px;
}

#projectdevlinks{
    margin-right: 36px;
}

#projectdevlinks p{
    margin-top: 25px;    
}

#devlinkstec{
    border-left: 2px solid #F5EEEE;
    padding-left: 36px;
}


#devlinkstec p{
    margin-top: 25px;
}